<template>
  <v-dialog
    :value="true"
    persistent
    max-width="290"
  >
    <v-card>
      <v-card-title class="text-h5">
        Edit Task
      </v-card-title>

      <v-card-text>
        Edit the title of this task:
        <v-text-field
          v-model="taskTitle"
          @keydown.enter="savetask"
        />
      </v-card-text>

      <v-card-actions>
        <v-spacer></v-spacer>

        <v-btn
          text
          @click="closeDialog"
        >
          Cancel
        </v-btn>

        <v-btn
          color="green darken-1"
          text
          @click="savetask"
          :disabled="taskTitleInvalid"
        >
          Save
        </v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script>
export default {
  name: "dialogDelete",
  data() {
    return {
      taskTitle: null,
    };
  },
  computed: {
    taskTitleInvalid() {
      return !this.taskTitle || this.taskTitle === this.task.title;
    },
  },
  props: ["task"],
  methods: {
    closeDialog() {
      this.$emit("closeDialog");
    },
    savetask() {
      if (!this.taskTitleInvalid) {
        let payload = {
          id: this.task.id,
          title: this.taskTitle,
        };
        this.$store.commit("updateTaskTitle", payload);
        this.closeDialog();
      }
    },
  },
  mounted() {
    this.taskTitle = this.task.title;
  },
};
</script>

<style>
</style> 