<template>
  <v-dialog :value="true" persistent max-width="290">
    <v-card>
      <v-card-title class="text-h5">
        Delete Task?
      </v-card-title>

      <v-card-text>
          Are you sure you wanna delete this task?
      </v-card-text>

      <v-card-actions>
        <v-spacer></v-spacer>

        <v-btn  text @click="closeDialog">
          Nope
        </v-btn>

        <v-btn color="green darken-1" text @click="$store.dispatch('deleteTask', task.id)">
          Yep
        </v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script>
export default {
  name: "dialogDelete",
  props: ['task'],
  methods: {
      closeDialog() {
          this.$emit('closeDialog');
      }
  }
};
</script>

<style>
</style>