<template>
  <div class="about pa-16">
    <h1>About Vuetify Todo App</h1>
    <p>This Todo Application Has Been Created With a Course Instructor.
      The main subjects of the course is of course - Vuetify as well as VueRouter and Vuex.<br>
      Hope you enjoy this to do app! :)
    </p>

  </div>
</template>
