<template>
  <div class="home">
    <field-add-task />
    <list-tasks v-if="$store.state.tasks.length" />

    <no-todos-message v-else></no-todos-message>
  </div>
</template>

<script>
import noTodosMessage from "../components/Todo/noTodosMessage.vue";
import fieldAddTask from "../components/Todo/fieldAddTask.vue";
import listTasks from "../components/Todo/listTasks.vue";
// import noTodosMessage from "../components/noTodosMessage.vue";

export default {
  components: { noTodosMessage, fieldAddTask, listTasks },
  name: "Todo",
  // data() {

  // },
  methods: {
    // deleteTask(id) {
    //   this.tasks = this.tasks.filter((task) => task.id !== id);
    // },
  },
};
</script>
