<template>
  <v-text-field
    v-model="newTaskTitle"
    class="pa-4"
    outlined
    label="Append"
    @click:append="addTask"
    @keydown.enter="addTask"
    append-icon="mdi-plus"
    hide-details
    clearable
  >
  </v-text-field>
</template>

<script>
export default {
  name: "fieldAddTask",
  data() {
    return { newTaskTitle: "" };
  },
  methods: {
    addTask() {
      this.$store.dispatch("addTask", this.newTaskTitle);
      this.newTaskTitle = "";
    },
  },
};
</script>

<style>
</style>