<template>
  <v-list flat class="pt-0">
    <task 
    v-for="task in $store.state.tasks" 
    :key="task.id"
    :task="task" />
  </v-list>
</template>

<script>
import task from "./task.vue";

export default {
  name: "listTasks",
  components: {
    task,
  },
//   data() {},
  methods: {},
};
</script>

<style>
</style>