<template>
  <div class="maindiv">
    <!-- <v-icon color="green darken-2" x-large>
      mdi-checkbox-marked-circle-plus-outline
    </v-icon> -->
    <v-icon size="100" color="primary">mdi-calendar-check-outline</v-icon>
    <div class="text-h5 primary--text">No Tasks</div>
  </div>
</template>

<script>
export default {
  name: "noTodosMessage",
};
</script>

<style>
 .maindiv {
   position: absolute;
   left: 50%;
   top: 50%;
   transform: translate(-50%,-50%);
 }
</style>