<template>
  <div>
    <v-menu
      bottom
      left
    >
      <template v-slot:activator="{ on, attrs }">
        <v-btn
          color="primary"
          icon
          v-bind="attrs"
          v-on="on"
        >
          <v-icon>mdi-dots-vertical</v-icon>
        </v-btn>
      </template>

      <v-list>
        <v-list-item
          id="itemer"
          v-for="(item, index) in items"
          :key="index"
          @click="handleClick(index)"
        >
          <v-list-item-icon>
            <v-icon v-text="item.icon"></v-icon>
          </v-list-item-icon>
          <v-list-item-title>{{ item.title }}</v-list-item-title>
        </v-list-item>
      </v-list>
    </v-menu>

    <dialog-edit
      v-if="dialogs.edit"
      v-bind:task="task"
      v-on:closeDialog="dialogs.edit = false"
    />
    <dialog-due-date
      v-if="dialogs.dueDate"
      v-bind:task="task"
      v-on:closeDialog="dialogs.dueDate = false"
    />
    <dialog-delete
      v-if="dialogs.delete"
      v-bind:task="task"
      v-on:closeDialog="dialogs.delete = false"
    />

  </div>

</template>

<script>
import dialogDelete from "./Dialogs/dialogDelete.vue";
import dialogEdit from "./Dialogs/dialogEdit.vue";
import dialogDueDate from "./Dialogs/dialogDueDate.vue";

export default {
  props: ["task"],
  components: {
    dialogDelete,
    dialogEdit,
    dialogDueDate
  },
  data() {
    return {
      dialogs: { delete: false, dueDate: false, edit: false },
      items: [
        {
          title: "Edit",
          icon: "mdi-pencil",

          click() {
            this.dialogs.edit = true
          },
        },
        {
          title: "Due date",
          icon: "mdi-calendar",
          click() {
            this.dialogs.dueDate = true
          },
        },
        {
          title: "Delete",
          icon: "mdi-delete",
          click() {
            this.dialogs.delete = true;
          },
        },
      ],
    };
  },
  methods: {
    handleClick(index) {
      this.items[index].click.call(this);
    },
  },
};
</script>

<style>
#itemer {
  cursor: pointer;
}
</style>